.list {
  list-style: none;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.itemLink {
  text-decoration: none;
  color: white;
}

.item {
  background-color: black;
  font-size: 20px;
  border-radius: 5px;

  border: solid;
}

.header {
  height: 100px;
  background-image: url('img/istock_145914335.06596112057.original-scaled.jpg');
  background-size: contain;
  background-position: top;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_item {
  background-color: black;
  font-size: 15px;
  border-radius: 5px;
  padding: 2px;
  border: solid;
}

.phoneIcon {
  color: white;
  position: relative;
  bottom: -3px;
  margin-right: 5px;
}

.nav_item {
  background-color: black;
  font-size: 15px;
  border-radius: 5px;
  padding: 2px;
  border: solid;

}

.list_right {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin-left: auto;
  margin-right: 10px;
}
.nav_item_link{text-decoration: none;  color: white;
padding: auto;}