.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.formInput {
    border-radius:5px;
    border: 1px solid black;
    margin-bottom: 15px;
    width: 75%;
    height: 20px;
    float: right;
    padding: 0px 15px;
}

.formLabel {
    display: block;
    justify-content: right;
    color: #5F9025;
    font-weight:600;
}

.submitBtn{
    border:1px solid #fff;
    text-align:center;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);}

.phoneIcon{
    width: 50px;
    height: 50px;
}