.userMenu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 7px;
  padding: 7px;
  font-weight: 700;
}

.btn {
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 120px;
  padding: 5px;
  margin: auto;
}

.userText {
  margin: auto;
  font-size: 15px;
  color: red;
}
